* {
    /* max-width: 1400px; */
    font-family: 'Raleway', serif;
}

html {
    font-size: 62.5%;
}

:root {
    --container: 1400px;
}

.container {
    width: 100%;
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 44px;
    padding: 0 5rem 0 5rem;
    margin: 1rem 7.5rem 3rem 7.5rem;
}

#logo {
    height: 20px;
}

.header_link a {
    padding: 3.3rem 3rem 0 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    border-top: 2px transparent solid;
}

.header_link a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    transition: border-top .5s, color .5s;
}

.bloc_search {
    font-size: 1.6rem;
}

.bloc_search h1 {
    font-size: 2.2rem;
}

.bloc_search form {
    margin: 1.5rem 0 2.5rem 0;
}

.bloc_search label {
    background-color: #d9d9d9;
    border-radius: 15px 0 0 15px;
    padding: 1rem 1rem 1.1rem 1.5rem;
}

.bloc_search input {
    border-top: 0.1rem #d9d9d9 solid;
    border-right: transparent;
    border-bottom: 0.1rem #d9d9d9 solid;
    border-left: transparent;
    overflow: auto;
    outline: none;
    margin-right: -0.4rem;
    padding: 0.7rem 0 0.7rem 1.5rem;
    font-weight: 700;
}

::placeholder { /* POUR COULEUR BARRE RECHERCHE | Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Si ouvert dans Firefox */
}

.bloc_search button {
    font-weight: 700;
    border: 0 transparent none;
    border-radius: 0 15px 15px 0;
    background: #0065FC;
    padding: 0.8rem 1rem 0.8rem 1rem;
    color: white;
    cursor: pointer;
}

.bloc_filter {
    display: flex;
    font-weight: 700;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 3rem;
}

.bloc_filter span {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.bloc_filter button {
    border: 0.2rem #d9d9d9 solid;
    border-radius: 50px;
    border-color: #d9d9d9;
    color: black;
    background: transparent;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
}

.bloc_filter button:hover {
    background-color: #DEEBFF;
}

.bloc_filter button:focus {
    background-color: #DEEBFF;
}

.fa-money-bill-wave {
    color: #0065FC;
}

.fa-person {
    color: #0065FC;
}

.fa-heart {
    color: #0065FC;
}

.fa-dog {
    color: #0065FC;
}

.bloc_filter i {
    color: #0065FC;
}

.text_informations {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.fa-info {
    color: #0065FC;
    width: 5px;
    height: 13px;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border: 0.1rem #d9d9d9 solid;
    border-radius: 50px;
}

.div_hebergement {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 5rem;
}

.bloc_hebergement {
    border-radius: 20px;
    width: 80%;
    font-size: 1.6rem;
}

#hebergements {
    font-size: 2.2rem;
}

.herbegement_a {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}

.bloc_hebergement a {
    padding: 2rem 0 2rem 0;
    width: 30rem;
    border: 0.1rem transparent solid;
    border-radius: 20px;
    background-color: white;
}

.bloc_populaire {
    width: 20%;
}

.header_bloc_populaire {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.bloc_activite {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bloc_activite h2 {
    width: 100%;
}

footer {
    font-size: 1.6rem;
    margin: 3rem 7.5rem 3rem 7.5rem;
    padding: 2rem 50rem 4rem 4rem;
    display: flex;
    justify-content: space-between;
}

footer h4 {
    font-size: 1.8rem;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* EN ATTENTE | POUR CACHER LA LOUPE RECHERCHE */
@media screen and (min-width: 992px) {
    .fa-magnifying-glass {
        display: none;
    }
}